fastapi
uvicorn
motor
pymongo
python-dotenv
email-validator
passlib[bcrypt]
python-multipart
boto3
jose
python-jose[cryptography]
pydantic
pydantic-extra-types
aiohttp
certifi
razorpay
httpx
phonenumbers

bleach
